.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    border: red 2px solid;
    grid-template-columns: repeat(12 ,1fr);
    grid-template-rows:repeat(12,1fr);
    background-color: brown;
}

.container > div{
    background-color: aqua;
}

.box-1{
      grid-area: 1/1/2/13;
}
.box-2{
    grid-area:2/1/4/7;
}
.box-3{
    grid-area: 2/7/4/13;
}
.box-4{
    grid-area:4/1/13/7;
}
.box-5{
    grid-area:4/7/13/13;
}



